form {
    margin-top: 100px;

    .login__right-form-group {
      position: relative;

      a {
        margin-top: 100px;
        color: #b7b5b5;
        position: absolute;
        bottom: -30px;
        right: 0;
      }
    }
  }